._720kb-datepicker-calendar-header:nth-child(odd) {
  background: $brand-primary;
}

._720kb-datepicker-calendar-header a {
  color: white;
}

._720kb-datepicker-calendar-month span {
  color: rgba(white, 0.7);
}
