.flight {
  display: block;
  font-size: 16px;
  text-align: center;
}

.flight + .flight:before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 0;
  @media screen and (max-width: $screen-sm) {
    margin-top: 5px;
  }
}

.flight__to {
  padding: 16px;
  display: inline-block;
  color: $brand-primary;

  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}

.flight__separator {
  @extend .glyphicon;
  @extend .glyphicon-arrow-right;
  display: inline-block;
}

.flight__from {
  padding: 16px;
  display: inline-block;
  color: $brand-primary;
  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}

.flight__price {
  display: inline-block;
  float: right;
  background: $brand-primary;
  color: $brand-warning;
  padding: 16px;
  min-width: 150px;
  text-align: center;
  @media screen and (max-width: $screen-sm) {
    display: block;
    float: none;
  }
}
